body {
  margin: 0;
}
.container {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  grid-column: 2/3;

  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.icon,
.top-right-avatar {
  height: 25px;
  cursor: pointer;
}
img,
button {
  cursor: pointer;
}

.top-left-header > input {
  background-color: rgb(255, 244, 244);
  border-radius: 10px;
  max-width: 600px;
}
.top-left-header {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.top-right-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70%;
  gap: 10px;
}
.top-right-header > p {
  min-width: 100px;
  font-weight: 900;
}
.bottom {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  grid-column: 1/4;
}
.top-right-avatar {
  height: 50%;
  border-radius: 50%;
  background: rgb(73, 73, 226);
}

.bottom-left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-left-header img {
  height: 90px;
  border-radius: 50%;
  background: rgb(73, 73, 226);
}
.bottom-right-header {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.bottom-right-header > button {
  background: steelblue;
  color: white;
  border: none;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  font-weight: 900;
}
/* end of header */

/* sidebar */
.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  min-height: 100vh;
  background-color: steelblue;
  color: white;
  padding: 15px;
}

.menu-icon {
  height: 30px;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.menu-item > * {
  cursor: pointer;
}
/* main content */
.main-content {
  background: rgb(152, 203, 150);
  grid-column: 2/3;
  min-height: 100vh;
  padding: 10px 10px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: 40px;
  gap: 15px;
}
.projects-title {
  grid-column: 1/4;
}
.project-cards {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 15px;
}
.card {
  border-left: 10px groove blue;
  border-radius: 10px;
  display: grid;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 5px 5px gray;
}
.card-icons {
  display: flex;
  align-self: end;
  justify-content: flex-end;
}

.main-content-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-content-right .card {
  border-style: none;
}
.announcements {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 15px;
}

.announcements-cards > .announcements-card ~ .announcements-card {
  border-top: 1px solid black;
}
.announcements-card {
  box-shadow: none;
}
.trending {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 15px;
}
.announcements-title,
.trending-title,
.projects-title {
  color: white;
  font-weight: 900;
  font-size: x-large;
}
/* Trending */
.trending-card {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
}
.trending-card img {
  grid-column: 1/2;
  grid-row: 1/3;
}
/* .trending-card p {
  grid-column: 2/3;
} */
.trending-card img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: rgb(73, 73, 226);
  margin: 10px;
}
.trending-info {
  grid-row: 2/3;
}

a {
  text-decoration: none;
  color: blue;
}
